<ng-container *ngIf="(store.state$ | async) as state">
    <mat-card>
        <mat-card-content>
            <app-base-data-input
                (carryWeightChanged)="onCarryWeightChanged($event)"
                (elementAttackChanged)="onElementAttackChanged($event)"
                (elementDefenseChanged)="onElementDefenseChanged($event)"
                (rangedChanged)="onRangedChanged($event)"
                (rangedForbiddenChanged)="onRangedForbiddenChanged($event)"
                (rangedRequiredChanged)="onRangedRequiredChanged($event)"
                (schmiedekunstChanged)="onSchmiedekunstChanged($event)"
                (selectedUnitChanged)="onSelectedUnitChanged($event)"
                (unitElementChanged)="onUnitElementChanged($event)"
                (waffenschmiedeChanged)="onWaffenschmiedeChanged($event)"
                [carryWeight]="state.carryWeight"
                [elementAttack]="state.elementAttack"
                [elementDefense]="state.elementDefense"
                [rangedForbidden]="state.rangedForbidden"
                [rangedRequired]="state.rangedRequired"
                [ranged]="state.ranged"
                [schmiedekunst]="state.schmiedekunst"
                [selectedUnit]="state.selectedUnit"
                [unitElement]="state.element"
                [waffenschmiede]="state.waffenschmiede"
            ></app-base-data-input>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <app-stat-weighting (changed)="onStatWeightingDataChanged($event)"></app-stat-weighting>
        </mat-card-content>
    </mat-card>

    <button
        (click)="calculateEquipment()"
        [class.spinner]="state.status.loading"
        [disabled]="state.status.loading"
        class="submit" color="primary"
        mat-raised-button>Ausrüstung berechnen
    </button>

    <mat-card *ngIf="state.set as set">
        <mat-card-title>
            <button (click)="markForComparison(set)" mat-icon-button>
                <mat-icon>bookmark_border</mat-icon>
            </button>
        </mat-card-title>
        <mat-card-content>
            <app-equipment-set
                [compareWith]="state.compareSet"
                [schmiedekunst]="state.schmiedekunst"
                [set]="set"
                [unitElement]="state.element"
            ></app-equipment-set>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="state.compareSet as compareSet">
        <mat-card-title>
            <button (click)="removeCompareSet()" mat-icon-button>
                <mat-icon>bookmark</mat-icon>
            </button>
        </mat-card-title>
        <mat-card-content>
            <app-equipment-set
                [schmiedekunst]="state.schmiedekunst"
                [set]="compareSet"
                [unitElement]="state.element"
            ></app-equipment-set>
        </mat-card-content>
    </mat-card>
</ng-container>
