<form [formGroup]="form">
    <div class="slider">
        <span class="slider-label">AP</span>
        <mat-slider
            [max]="100"
            [min]="0"
            [step]="5"
            [discrete]="true">
            <input matSliderThumb formControlName="apWeight">
        </mat-slider>
    </div>
    <div class="slider">
        <span class="slider-label">VP</span>
        <mat-slider
            [max]="100"
            [min]="0"
            [step]="5"
            [discrete]="true">
            <input matSliderThumb formControlName="vpWeight">
        </mat-slider>
    </div>
    <div class="slider">
        <span class="slider-label">HP</span>
        <mat-slider
            [max]="100"
            [min]="0"
            [step]="5"
            [discrete]="true">
            <input matSliderThumb formControlName="hpWeight">
        </mat-slider>
    </div>
    <div class="slider">
        <span class="slider-label">MP</span>
        <mat-slider
            [max]="100"
            [min]="0"
            [step]="5"
            [discrete]="true">
            <input matSliderThumb formControlName="mpWeight">
        </mat-slider>
    </div>
</form>
