<form [formGroup]="form">
    <div class="slider">
        <span class="slider-label">AP</span>
        <mat-slider
            [max]="100"
            [min]="0"
            [step]="5"
            [thumbLabel]="true"
            [tickInterval]="5"
            color="primary"
            formControlName="apWeight">
        </mat-slider>
    </div>
    <div class="slider">
        <span class="slider-label">VP</span>
        <mat-slider
            [max]="100"
            [min]="0"
            [step]="5"
            [thumbLabel]="true"
            [tickInterval]="5"
            color="primary"
            formControlName="vpWeight">
        </mat-slider>
    </div>
    <div class="slider">
        <span class="slider-label">HP</span>
        <mat-slider
            [max]="100"
            [min]="0"
            [step]="5"
            [thumbLabel]="true"
            [tickInterval]="5"
            color="primary"
            formControlName="hpWeight">
        </mat-slider>
    </div>
    <div class="slider">
        <span class="slider-label">MP</span>
        <mat-slider
            [max]="100"
            [min]="0"
            [step]="5"
            [thumbLabel]="true"
            [tickInterval]="5"
            color="primary"
            formControlName="mpWeight">
        </mat-slider>
    </div>
</form>
