:host {
    display: block;
    max-width: 868px;
    margin: 0 auto;
}

.mat-card + .mat-card {
    margin-top: 8px;
}

.mat-card-title {
    text-align: right;
}

.submit {
    position: relative;
    margin: 16px 0;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}
